DEFAULT_LLM_PROVIDER=openai
OPENAI_API_KEY=your-openai-api-key-here
AWS_ACCESS_KEY_ID=your-r2-or-s3-access-key-here
AWS_SECRET_ACCESS_KEY=your-r2-or-s3-secret-key-here
AWS_REGION=auto
S3_BUCKET_NAME=your-bucket-name-here
CLOUDFLARE_BUCKET_NAME=your-public-bucket-domain-here
S3_ENDPOINT_URL=https://your-account-id.r2.cloudflarestorage.com

CELERY_BROKER_URL=pyamqp://guest@localhost:5672//
CELERY_RESULT_BACKEND=redis://localhost:6379/0

GOOGLE_API_KEY=
